#intro {
  min-height: 100vh;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.bg {
  position: absolute;
  padding: 2rem;
  right: 0;
  bottom: 6rem;
  height: 75vh;

    border-radius: 50px;
  object-fit: cover;
  z-index: 1;

}

.introcontent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;

  position: relative;
  z-index: 2;
  color: white;

}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introname {
    color: yellow;
}

.intropara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    font-size: medium;
}

.btn:hover{
    background-color: rgb(233, 225, 225);
}

.btn img {
     object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
}


@media screen and (max-width:840px) {
    .bg {
        right: 0vw
    }
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
    
}

@media screen and (max-width:480px) {
    .bg {
        right: -10vw;
        
    }
}